html {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    background-color: #12111F;
    color: #F2F5F9;
    font-family: "Be Vietnam Pro", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    overflow-x: hidden;
}
main {
    box-sizing: content-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.title-header {
    padding-top: 72px;
    padding-bottom: 96px;
    background-image: url("faq-title-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: flex;
    flex-direction: column;
}

.title {
    width: 500px;
    font-size: 48px;
    align-self: center;
    text-align: center;
    opacity: 30%;
    margin: 0;
}

.intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}
.title-intro {
    font-size: 20px;
    margin-bottom: 16px;
}
.subtitle-intro {
    font-size: 16px;
    color: #97A3B6;
    margin-bottom: 40px;
}
.dropdown-section  {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    margin-right: 32px;
    align-self: center;
    width: 95%;
    
}

.buttons {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 0;
    gap: 24px;
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: center;
}
.btn-section {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.btn-section:hover {
    background-color: #909397;
    border-radius: 20px;
}
details {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;

}
details summary {
    width: 100%;
    font-size: 20px;
    color: #97A3B6;
    position: relative;
    cursor: pointer;
    font-weight: 300; 
    font-weight: bold;
    display: flex;
    justify-content: space-between;

}
details p {
    font-size: 16px;
    color: #CDD5E0;
    margin: 0;
    margin-top: 8px;
    padding-bottom: 28px;
}

  details[open] summary {
    color: #F2F5F9;
    .svg {
        color: #97A3B6;
    }
  }

  .svg-down {
    display: none;
}
  details[open] {
    margin-bottom: 20px;

    background-color: #37393d;
    border-radius: 10px;
    
    .svg-up {
        display: none;
    }
    .svg-down {
        display: block;
    }
  }

  @media (min-width: 1280px) {
    body {
        width: 100%;
    }
    .dropdown-section  {
        width: 746px;
    }
    .buttons {
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;
    }
}


